/*Variabler*/
$bg-color: #F7EAD9; 
$nav-color: #6E402A;
$footer-color: #B09E8F;
$primary-color: #E5989B;
$secondary-color: #AB8E76;
$text-color: #4A3731;
$padding: 0.5em;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/*Mixins*/
@mixin flex($justify:center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color: $primary-color, $btn-padding: 0.8em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

@mixin cta-box($width: 20vw){
    background-color: #fff;
    width: $width;
    padding: 2em;
    margin: 2em auto;
    border-radius: 20px;
}